@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.descuentos{
    background-color:  #1CD1B0;
    height: 25px;
    left: 62.57px;
    font-family: Roboto;
    font-size: 19px;
    line-height: 25px;
    padding-left: 28px;
    font-weight: 500;
}

header{
    background: #00669F;
    box-shadow: 0px 3px 2px rgba(0,0,0, 0.25);
}

img {
    position:relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    left: 75px;
    bottom: 0px;
    z-index: 2;

}

.card-fondo{
    padding: 100px;
    background-size: 550px;
    background-position: 70% 50%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    position:relative;
    z-index:1;
}

.card-texto{
    position: relative;
    top:-80px;
    background-color: #F3F3F3;
    padding: 20px;
    box-shadow: 0px 3px 2px rgba(0,0,0, 0.25);
    font-size: 14px;

}

.batman{
    background-image: url("../img/bg-batman.jpg");
}

.mujer-maravilla{
    background-image: url("../img/bg-wonderw.jpg")
}
.superman{
    background-image: url("../img/bg-superman.jpg");
}

.card{
    width: 300px; 
    height: 550px;    
    margin: auto;
    margin-top: 40px; 
    margin-bottom: 130px;
    background-position: 50% 50%;
}

h2{
    text-align: center;
    line-height: 60px;
}
a {
    display:inline-block;
    margin-left: 75px;  /*preguntar por que no funca con margin auto*/
    margin-top: 20px;
    background-color: #00669F;
    border-radius: 3%;
    color: white;
    padding: 15px 40px;
    font-size:12px;
    font-weight: lighter;
    text-decoration: none;
}

.fas{
    font-size: 25px;
    color:#be1616;
    position:absolute;
    top:12px;
    left:20px;
}

h1{
    line-height: 70px;
    color:white;
    font-weight: lighter;
    padding-left: 25px;
}

footer{
    background-color: #00669F ;
    height: 60px;
    color:white;
    text-align:center;
    font-size: 15px;
    line-height: 60px;
}


.mujer-maravilla{
    padding: 100px;
    background-size: 550px;
    background-position: 0% 0%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    position:relative;
    z-index:1;  
}